.todolist-container {
  width: 100%;
  margin: 0 auto;
  background: #263238;
  min-height: 100vh;
}
@media (min-width: 500px) {
  .todolist-container {
    min-height: 0;
    width: 90%;
  }
}
@media (min-width: 800px) {
  .todolist-container {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .todolist-container {
    width: 50%;
  }
}
